@font-face {
  font-family: "Thunder";
  src: url("/fonts/Thunder-BoldLC.woff") format("woff"),
    url("/fonts/Thunder-BoldLC.woff2") format("woff2"),
    url("/fonts/Thunder-BoldLC.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
