@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto:wght@100;300;400;500;700&display=swap");

@font-face {
  font-family: "Thunder";
  src: url("/fonts/Thunder-BoldLC.woff") format("woff"),
    url("/fonts/Thunder-BoldLC.woff2") format("woff2"),
    url("/fonts/Thunder-BoldLC.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
